#menu-bar-large {
  box-shadow: 3px 3px 5px #888888;
}

#menu-bar-large li {
  padding-left: 10px;
  padding-right: 10px;
}

#menu-bar-large a {
}

.menu-links {
  color: #FFFFFF;
}
a.menu-links:hover {
  color: #ff9900
}

#menu-bar-small a {
  color: #FFFFFF;
}

#map {
  width: 100%;
}

#logo {
  float: left;
  margin-left: 15px;
  min-height: 100px;
  min-width: 200px;
}

#hamburger {
  font-size: 1.6em;
  color: #FFFFFF;
}

.mobile-links li {
  border-bottom: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


.swiper-container {
  width: 90%;
  height: 500px;
  margin-top: 20px;
}

.slide-content {
  padding-left: 50px;
  padding-right: 50px;
}

.slide-header {
  font: 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  margin-top: 10px;
  text-align: center;
}

.slide-subheader {
  font-size: .9em;
  font-weight: bold;
}

.slide-text {
  font-size: .9em;
}

.mobile-logo {
  background-color: #666666;
  width: 100%;
  margin-top: 54px;
  height: 200px;
  padding-top: 10px;
}

.mobile-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.content h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.section-header h3 {
  font-weight: bold;
  font-style: normal;
  margin-top: 5px;
  text-shadow: .75px .75px 3px #888888;
}

.footer {
  background-color: #666666;
  padding: 15px;
  width: 100%;
  height: 225px;
  text-align: center;
}

.footer p {
  color: #FFFFFF;
  font-size: .9em;
  font-style: italic;
  margin-bottom: 0;
}

.footer img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 48px;
    vertical-align: middle;
}

.footer i {
  padding: 10px;
  vertical-align: middle;
}

.footer-links {
  height: 50px;
}

.footer-links a {
  color: #FFFFFF;
}

.paypal {
  margin-bottom: 30px;
}

.form-list {
  list-style: none;
}

.fa-file {
  padding-right: 10px;
}
